@charset "utf-8";
/* CSS Document */

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);

/* ---------- FONTAWESOME ---------- */

[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

body {
    background-color: #ffffff;
    color: #606468;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
}

a {
    color: #606468;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input {
    border: none;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    padding: 0;
    -webkit-appearance: none;
}

p {
    line-height: 1.5em;
}

.clearfix { *zoom: 1; } /* For IE 6/7 */
.clearfix:before, .clearfix:after {
    display: table;
    content: "";
}
.clearfix:after { clear: both; }

/* ---------- LOGIN ---------- */

#login {
    /*display: flex;*/
    /*flex-direction: column;*/
    width: 280px;
    margin: auto;
}

#login form span {
    background-color: #363b41;
    border-radius: 3px 0px 0px 3px;
    -moz-border-radius: 3px 0px 0px 3px;
    -webkit-border-radius: 3px 0px 0px 3px;
    color: #111111;
    display: block;
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}

#login form input {
    height: 50px;
    outline:none;
}

#login form input[type="text"], input[type="password"], input[id = "username"], input[id = "age"] {
    padding: 0 16px;
    width: 229px;
    border-radius: 0px 3px 3px 0px;
    -moz-border-radius: 0px 3px 3px 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
    margin-bottom: 1em;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

#login form input[type="text"]:focus, input[type="password"]:focus, input[id = "username"]:focus, input[id = "age"]:focus {
    background-color: #ddd;
    outline: none;
}

#login form input[type="submit"] {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #2e61a9;
    color: #eee;
    font-weight: bold;
    margin-bottom: 2em;
    text-transform: uppercase;
    cursor: pointer;
    width: 261px;
}
#login form input:focus {
    color:#2e61a9;
}


#login form input[type="submit"]:hover {
    background-color: #2e61a9;
}


#login form input[type="submit"]:hover {
    background-color: #2e61a9;
}

#login > p {
    text-align: center;
}

#login > p span {
    padding-left: 5px;
}

.vladmaxi-top{
    line-height: 24px;
    font-size: 11px;
    background: #000;
    text-transform: uppercase;
    z-index: 9999;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    font-family: calibri;
    font-size: 13px;
    box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
    -webkit-animation: slideOut 0.5s ease-in-out 0.3s backwards;
}
@-webkit-keyframes slideOut{
    0%{top:-30px; opacity: 0;}
    100%{top:0px; opacity: 1;}
}

.vladmaxi-top a{
    padding: 0px 10px;
    letter-spacing: 1px;
    color: #333;
    text-shadow: 0px 1px 1px #fff;
    display: block;
    float: left;
}
.vladmaxi-top a:hover{
    background: #000;
}
.vladmaxi-top span.right{
    float: right;
}
.vladmaxi-top span.right a{
    float: left;
    display: block;
}
#imgCont{

    width: 261px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;

}
