<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<SideMenu>
  <link rel="stylesheet" type="text/css" th:href="@{/main.css}" href="../../../static/main.css"/>
  <ul>
    <li><a href="@{/}">Home</a></li>
    <li><a href="@{/feed}">Feed</a></li>
    <li><a href="@{/buddies}">Buddies</a></li>
    <li><a href="@{/notifications}">Notifications</a></li>
    <li><a href="@{/settings}">Settings</a></li>
    <li><span style=vertical-align:bottom><a href="@{/}">Log out</a> </span></li>
  </ul>
</SideMenu>
<div th:fragment="review_block">
<div id="rateBlock">
  <p th:text="${Review_title}">Review_title</p><br>
  <div id="rating">
  <span th:text="${Rate_P1}"> Rate_P1</span> <span th:text="${Rate_P2}"> Rate_P2</span><br>
  <span th:text="${Rate_P3}"> Rate_P3</span> <span th:text="${Rate_P4}"> Rate_P4</span></div>


<p id="reviewer_img"><img src="img/reviewer_img.png" alt="reviewer_img"></p><br>

<p th:text="${Review}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque ipsum nec mauris dapibus gravida. Nam felis est, ornare sit amet auctor in, malesuada sit amet massa. Pellentesque eget efficitur lorem. Nunc lobortis erat a orci blandit, et consequat diam molestie. Etiam id tempor felis, sit amet egestas sem. Suspendisse potenti. Morbi tristique tincidunt leo in ornare. Aenean sodales leo id dapibus posuere.</p>
</div>
</div><br>
<div id="business_block" th:fragment="business">
  <p align="center" id="business_img"><img src="img/business_img.png" alt="business_img"></p><br>
  <div>
    <p align="right"> <button id="booking">Book a table</button></p>
    <p th:text="${Business_NAME}, ${Business_TYPE}">Business_NAME, Business_TYPE</p>
    <p th:text="${Distance}">2 km away</p>
  </div>
</div>

</body>
</html>