<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<div th:fragment="product">-->
<!--    <h1 th:text="${productName}"> Product_NAME </h1>-->
<!--    <p th:text="${'Category name'}">Cat_NAME</p>-->
<!--    <p align="center"><img src="img/product.png" alt="Product image"></p>-->
<!--    <div><rate th:insert="${rateBlock} ? ~{}">-->
<!--    </rate></div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->