<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<SideMenu th:fragment="menu">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" href="../../../static/main.css"/>
    <ul>
        <li><a href="@{/}">Home</a></li>
        <li><a href="@{/feed}">Feed</a></li>
        <li><a href="@{/buddies}">Buddies</a></li>
        <li><a href="@{/notifications}">Notifications</a></li>
        <li><a href="@{/settings}">Settings</a></li>
        <li><span style=vertical-align:bottom><a href="@{/}">Log out</a> </span></li>
    </ul>
</SideMenu>
</body>
</html>