<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--      th:fragment="main-fragment (title, otherStaticResources, header, SideMenu, mainContent, footer)">-->
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/profileForm.js}"></script>
    <script type="text/javascript" th:src="@{/js/ShowEdit.js}"></script>
    <script type="text/javascript" th:src="@{/js/menuHandler.js}"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/main.css}" href="../../../static/main.css"/>
    <title>Buddy page</title>
</head>
<header>

    <a id="menuBtn" onclick="openMenu()"><img th:src="@{/images/BoozeBuddyMin.svg}">
        <h2>Buddy page</h2></a>

</header>
<body>
    <SideMenu id="SideMenu" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a th:id="home" th:href="@{/buddy/{id}(id=${homeId})}">Home</a>
        <a th:href="@{/feed}">Feed</a>
        <a th:href="@{/friend}">Find friends</a>
        <a th:href="@{/logout}">Log out</a>
    </SideMenu>
    <article>
        <div id="num_block">
            <h1 hidden id="buddIdHo" th:text = "${homeId}"
                th:data-home="${homeId}"> id </h1>
        </div>
        <div  id="product_block">
            <h1 hidden id="role" th:text = "${user.role.id}"
                th:data-role="${user.role.id}"> role </h1>
            <h1 hidden id="nameUs" th:text = "${user.id}"
                th:data-nameUs="${user.id}"> USER </h1>

        <div class="Buddy_block" th:name="buddy" th:id="buddy">
            <div th:fragment="buddy">
                <h1 id="first_name" th:text="${buddy.firstName}"> First Name </h1>
                <h1 id="last_name" th:text="${buddy.lastName}">Last Name</h1>
                <p  hidden id="userName" th:text="${buddy.user.id}" th:data-userName="${buddy.user.id}">User</p>
                <p id="age1" th:text="${buddy.age}">Age</p>
                <p id="city1" th:text="${buddy.city}">City</p>
                <p><img th:src="@{${buddy.avatarImg}}" alt="Buddy image" width="130" height="180"></p>
                <td><a th:href="@{/buddy/{id}/wishlist(id=${buddy.buddyId})}">Wishlist</a></td>
                <input type="submit" value="Редактировать" id="editBtn"/>
            </div>
            </div>
        </div>
                <form  hidden name="buddyEd" method="POST"  th:object="${buddy}" modelAttribute="buddy" class="buddyForm" th:name="buddyEd" th:id="buddyEd">
                    <input readonly id="id" type="hidden" name="id" th:value="${buddy.buddyId}" th:data-id="${buddy.buddyId}"/><br/><br/>
                    <input id="firstName" type="text" name="firstName" th:value="${buddy.firstName}" placeholder="Имя" th:data-fName="${buddy.firstName}" /><br/>Имя<br/>
                    <input id="lastName" type="text" name="lastName" th:value="${buddy.lastName}" placeholder="Фамилия" /><br/>Фамилия<br/>
                    <input id="age" type="number" name="age" th:value="${buddy.age}" placeholder="Возраст"/><br/>Возраст<br/>
                    <input id="avatarImg" type="text" name="avatarImg" th:value="${buddy.avatarImg}" placeholder="Фото"/><br/>Фото<br/>
                    <input id="city" type="text" name="city" th:value="${buddy.city}" placeholder="Город"/><br/>Город<br/>
                    <input type="submit" value="Сохранить" id="btnSubmit"/>
                </form>


        <div id="rateBlock" th:each="review : ${buddy.productAuthors}">
            <p th:text="${review.product.productName}"> Review_title</p><br>
            <th><a th:href="@{/product/{id}(id=${review.product.productId})}">
                <img th:src="@{${review.product.productImg}}" alt="Product image" width="130" height="180"></a></th>
            <p th:text="${review.reviewProduct}"> Review_title</p><br>
            <div id="rating_pr">
                 <span th:text="${review.rateP1}"> Rate_P4</span>
            </div>
        </div><br>
        <br>
    </article><br>


</body>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#editBtn").on('click', function () {
                $(".buddyForm").show();
            });
            function sendForm() {
                const xhr = new XMLHttpRequest();
                xhr.open('POST', document.forms.buddyForm.action);
                xhr.responseType = 'json';
                xhr.onload = () => {
                    if (xhr.status !== 200) {
                        return;
                    }
                    const response = xhr.response;
                    document.querySelector('#result').innerHTML = `<li>Имя: <b>${response.firstName}</b></li><li>Фамилия: <b>${response.lastName}</b><li>ID: <b>${response.id}</b></li>
                    <li>Возраст: <b>${response.age}</b></li><li>Город: <b>${response.city}</b></li><li>Фото: <b>${response.avatarImg}</b></li>`;
                }
                let formData = new FormData(document.forms.buddyForm);
                xhr.send(formData);
                document.querySelector('#result').textContent = '...';
            }
            // при отправке формы
            document.forms.buddyForm.addEventListener('submit', (e) => {
                e.preventDefault();
                sendForm();
            });
        });
    </script>
</html>
