<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--      th:fragment="main-fragment (title, otherStaticResources, header, SideMenu, mainContent, footer)">-->
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <title>Business Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/main.css}" href="../../../static/main.css"/>
    <title>Business Page</title>

</head>
<header>
    <h2>Buddy page</h2>

</header>
<body>
<section>
    <SideMenu id="SideMenu">
        <li>Home</li>
        <li><a th:href="@{/feed}">Feed</a></li>
        <li><a th:href="@{/notifications}">Notifications</a></li>
        <li><span style=vertical-align:bottom><a th:href="@{/logout}">Log out</a> </span></li>
    </SideMenu>
    <article>
        <div id="Buddy_block">
            <div th:fragment="buddy">
                <p id="buddy_img" ><img src="layouts/img/buddy.png" alt="Buddy image"></p>
                <h1 id="first_name" contenteditable="true" th:text="${buddy.firstName}"> First Name </h1>
                <h1 id="last_name"contenteditable="true" th:text="${buddy.lastName}">Last Name</h1>
                <p id="age" contenteditable="true" th:text="${buddy.age}">Age</p>
                <p id="city" contenteditable="true" th:text="${buddy.city}">City</p>
<!--                <button id="save"> Редактировать профиль</button>-->
                <p><a th:href="@{update/{id}(id=${buddy.buddyId})}">Edit</a></p>
<!--                <button><a th:href="@{buddy-update/{id}(id=${buddy.buddyId})}">Редактировать профиль</a></button>-->

        <div id="rateBlock" th:each="review : ${buddy.productAuthors}">
            <p th:text="${review.product.productName}"> Review_title</p><br>
            <th><a th:href="@{/product/{id}(id=${review.product.productId})}"><img src="layouts/img/product.png" width="50"
                                                                            height="50" alt="Product image"></a></th>
            <p th:text="${review.reviewProduct}"> Review_title</p><br>
            <div id="rating_pr">
                <span th:text="${review.rateP1}"> Rate_P1</span> <span th:text="${review.rateP2}"> Rate_P2</span><br>
                <span th:text="${review.rateP3}"> Rate_P3</span> <span th:text="${review.rateP4}"> Rate_P4</span></div>
            <p id="reviewer_img"><img src="*{'data:image/png;base64, '+image}" alt="reviewer_img"></p><br>

            <!--            <p th:text="${review.reviewB}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque ipsum nec mauris dapibus gravida. Nam felis est, ornare sit amet auctor in, malesuada sit amet massa. Pellentesque eget efficitur lorem. Nunc lobortis erat a orci blandit, et consequat diam molestie. Etiam id tempor felis, sit amet egestas sem. Suspendisse potenti. Morbi tristique tincidunt leo in ornare. Aenean sodales leo id dapibus posuere.</p>-->
        </div><br>
        </div><br>
        </div>
    </article><br>
</section>

</body>
<footer>
    <p>All right reserved and belong to almighty Cthulhu</p>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script>
    $(document).ready(function (){
        $("#first_name").change(function () {


        })
    });
    </script>
</footer>
</html>
