<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Buddies</title>
</head>
<body>
<div th:switch="${buddies}">
    <h2 th:case="null">No buddies found!</h2>
    <div th:case="*">
        <h2>Buddies</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Age</th>
                <th>City</th>
                <th>Product Review ID</th>
                <th>Product ID</th>
                <th>Review Comment</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="buddy : ${buddies}">
                <td th:text="${buddy.buddyId}"></td>
                <td th:text="${buddy.firstName}"></td>
                <td th:text="${buddy.lastName}"></td>
                <td th:text="${buddy.age}"></td>
                <td th:text="${buddy.city}"></td>
<!--                <td th:each = "pR : ${buddy.productAuthors}" th:text="${pR.productReviewId}"></td>-->
                <td th:each = "pR : ${buddy.productAuthors}" th:text="${pR.productId}"></td>
                <td th:each = "pR : ${buddy.productAuthors}" th:text="${pR.reviewProduct}"></td>
                <td><a th:href="@{buddy-update/{id}(id=${buddy.buddyId})}">Edit</a></td>
                <td><a th:href="@{buddy-delete/{id}(id=${buddy.buddyId})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
        <h2>Wishlist</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.productId}"></td>
                <td th:text="${product.productName}"></td>
                <td th:each = "pR : ${product.buddies}" th:text="${pR.firstName} + ${', '}"></td>
            </tr>
            </tbody>
        </table>
        <h2>Buddy & Friends</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Friend</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="buddy : ${buddies}">
                <td th:text="${buddy.buddyId}"></td>
                <td th:text="${buddy.firstName}"></td>
                <td th:text="${buddy.lastName}"></td>
<!--                <td th:each = "pR : ${buddy.friends}" th:text="${pR.buddy['Id']}"></td>-->
                <td th:each = "pR : ${buddy.friends}" th:text=" ${'my friend: '} + ${pR.buddyId}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/buddy-create">Create user</a></p>
</div>
</body>
</html>