<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BuddyLogin</title>
</head>
<body>
<form action="#" th:action="@{/buddyLogin-create}" th:object="${buddyLogin}" method="post">
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email">
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Password">
    <input type="submit" value="Create login">
</form>
</body>
</html>