<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--      th:fragment="main-fragment (title, otherStaticResources, header, SideMenu, mainContent, footer)">-->
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <title>Business Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/main.css}" href="../../../static/main.css"/>
    <title>Business Menu</title>

</head>
<header>
    <h2>Business Menu</h2>

</header>
<body>
<section>
    <SideMenu id="SideMenu">
        <li><a href="@{/}">Home</a></li>
        <li><a href="@{/feed}">Feed</a></li>
        <li><a href="@{/buddies}">Buddies</a></li>
        <li><a href="@{/notifications}">Notifications</a></li>
        <li><a href="@{/settings}">Settings</a></li>
        <li><span style=vertical-align:bottom><a href="@{/}">Log out</a> </span></li>
    </SideMenu>
    <article>
        <div id="Business_block">
            <div th:fragment="business">
                <h1 th:text="${business.busName}"> Business_NAME </h1>
                <p th:text="${business.location}">Location</p>
                <p th:text="${Distance}">2 km away</p>
                <p align="right"> <button onclick ="window.location.href='https://duobar.ru/'">Book a table</button></p>
                <div><div id="rating">
                    //суммарный рейтинг заведения
                    <span th:text="${rateB1}"> Rate_B1</span> <span th:text="${rateB2}"> Rate_B2</span><br>
                    <span th:text="${rateB3}"> Rate_B3</span> <span th:text="${rateB4}"> Rate_B4</span></div>
                    <br>
                    <p id="business_img" ><img src="layouts/img/business.png" alt="Business image"></p>
                </div>
            </div>
        </div><br>
        <p><a href="@{/business/${business.businessId}/product-create}">Create new product</a></p>

        <div id="product_block" th:each="product : ${business.products}">
            <div th:fragment="product">
                <h1 th:text="${product.productName}"> Product_NAME </h1>
                <p th:text="${product['productCategory']['categoryName']}">Category_NAME</p>
            </div>
        </div><br>
        <div id="rateBlock" th:each="review : ${business.businessReviews}">
            <p th:text="${review.reviewB}"> Review_title</p><br>
            <div id="rating_pr">
                <span th:text="${review.rateB1}"> Rate_B1</span> <span th:text="${review.rateB2}"> Rate_B2</span><br>
                <span th:text="${review.rateB3}"> Rate_B3</span> <span th:text="${review.rateB4}"> Rate_B4</span></div>
            <p id="reviewer_img"><img src="*{'data:image/png;base64, '+image}" alt="reviewer_img"></p><br>

            <p th:text="${review.reviewB}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque ipsum nec mauris dapibus gravida. Nam felis est, ornare sit amet auctor in, malesuada sit amet massa. Pellentesque eget efficitur lorem. Nunc lobortis erat a orci blandit, et consequat diam molestie. Etiam id tempor felis, sit amet egestas sem. Suspendisse potenti. Morbi tristique tincidunt leo in ornare. Aenean sodales leo id dapibus posuere.</p>
        </div><br>
    </article><br>
</section>
</body>
<footer>
    <p>All right reserved and belong to almighty Cthulhu</p>
</footer>
</html>