<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--      th:fragment="main-fragment (title, otherStaticResources, header, SideMenu, mainContent, footer)">-->
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <title>Business Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/star_rating.js}"></script>
    <script type="text/javascript" th:src="@{/js/profileForm.js}"></script>
    <script type="text/javascript" th:src="@{/js/menuHandler.js}"></script>
    <script type="text/javascript" th:src="@{/js/showEditBusiness.js}"></script>
    <script type="text/javascript" th:src="@{/js/showReview.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/main.css}" href="../../../static/main.css"/>
    <title>Business Page</title>

</head>
<header>
    <h2>Business page</h2>

</header>
<body>
<section>
    <SideMenu id="SideMenu" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <li><a th:id="home" th:href="@{/buddy/{id}(id=${homeId})}">Home</a></li>
        <li><a th:href="@{/feed}">Feed</a></li>
        <li><a th:href="@{/friend}">Find friends</a></li>
        <li><span style=vertical-align:bottom><a th:href="@{/logout}">Log out</a> </span></li>
    </SideMenu>
    <article>
        <div id="num_block">
            <h1 hidden id="buddIdHo" th:text = "${homeId}"
                th:data-home="${homeId}"> id </h1>
        </div>

        <div class="business_block" th:name="business" th:id="business">
            <div th:fragment="business">
                <h1 th:text="${business.busName}"> Business_NAME </h1>
                <p th:text="${business.location}">Location</p>
                <p  hidden id="userName" th:text="${business.user.id}" th:data-userName="${business.user.id}">User</p>
                <p hidden id="roleB" th:text = "${business.user.role.id}"
                    th:data-roleB="${business.user.role.id}"> role </p>
                <p th:text="${business.businessLink}">Link</p>
                <p><img th:src="@{${business.busImg}}" alt="Business image" width="300" height="200"></a></p>
                <p th:text="${Distance}">2 km away</p>
                <input type="submit" value="Edit" id="editBtn"/>
            </div>
        <form hidden name="businessEd" method="POST" th:object="${business}" class="businessForm">
            <input readonly id="id" type="number" name="id" th:value="${business.businessId}"/><br/><br/>
            <input id="name" type="text" name="busName" th:value="${business.busName}" placeholder="Имя" /><br/><br/>
            <input id="busImg" type="text" name="busImg" th:value="${business.busImg}" placeholder="Фото"/><br/>Фото<br/>
            <input id="location" type="text" name="location" th:value="${business.location}" placeholder="Расположение" /><br/><br/>
<!--            <input id="link" type="text" name="businessLink" th:value="${business.businessLink}" placeholder="Ссылка"/><br/><br/>-->

            <input type="submit" value="Save" id="btnSubmit"/>
        </form>
                <div class="tabs">
                    <input type="radio" name="inset" value="" id="tab_3" checked>
                    <label for="tab_3">Rating</label>

                    <input type="radio" name="inset" value="" id="tab_4">
                    <label for="tab_4">Menu</label><br>

                    <div id="rating">
                        <span th:text="${business.brRating}"> Rate_P1</span>
                        <p th:text="${count}">Count Authors</p>
                    </div>
                    <div id = "menu">
                            <table th:each="product : ${business.products}" width="100%" border="0" cellpadding="4">
<!--                                <tr align="right" valign="top">-->
                                    <div id="product_block">
                                        <h1 hidden id="role" th:text = "${user.role.id}"
                                            th:data-role="${user.role.id}"> role </h1>
                                        <h1 hidden id="nameUs" th:text = "${user.id}"
                                            th:data-nameUs="${user.id}"> USER </h1>
                                        <th th:text="${product.productName}">Product_NAME</th>
                                        <td th:text="${product['productCategory']['categoryName']}">Category_NAME</td>
                                        <p><a th:href="@{/product/{id}(id=${product.productId})}"><img th:src="@{${product.productImg}}" alt="Product image" width="160" height="180"></a></p>
                                        <td th:text="${'Суммарный рейтинг продукта'}">Суммарный рейтинг продукта</td><!--                                </tr>-->
                                    </div>
                            </table>
                        <td><a id="addNewProduct" th:href="@{{id}/product-create(id=${business.businessId})}">Menu editing</a></td>
                        <!--                        <button><a th:href="@{business/{businessId}/product-create}">Add new product</a></button>-->

                    </div>
                </div>
            </div>
            <br>
        <div id = "rating_add"><form id="addReviewForm" class="form-control" method="post" th:action="@{{id}/add-review(id=${business.businessId})}" th:object="${businessReview}">
            Review title:<br>
            <br>
            <div><label for="reviewTitle"><input class="reviewTitlePr" id = "reviewTitle" type="text" th:value="${reviewTitle}" name="reviewTitle"/> </label></div>
            Review:<br>
            <div><label for="reviewProduct"><textarea class="reviewProductPr" id = "reviewProduct" th:value="${reviewProduct}" name="reviewProduct"></textarea> </label></div>
            <div><label for="rateB1"><input id="rateB1" type="text" th:value="${rateB1}" name="rateB1" value=""></label></div>
            <div id="rating_new" >
                <div class="param">Location :</div>
                <div><div class="stars"></div><p class="progress" id="p1"></p></div>
                <div class="rating_new" id="param1">5.0</div>
                <div class="param">Comfort :</div>
                <div><div class="stars"></div><p class="progress" id="p2"></p></div>
                <div class="rating_new" id="param2">5.0</div>
                <div class="param">Service :</div>
                <div><div class="stars"></div><p class="progress" id="p3"></p></div>
                <div class="rating_new" id="param3">5.0</div>
                <div class="param">Overall score :</div>
                <div><div id="sum_stars"></div><p id="sum_progress"></p></div>
                <div id="summ">5.00</div>
                <input name="Add review" id="submitButton" type="submit" value="add-review">
            </div>
        </form></div>

        <style type="text/css">
            .param, #rating_new, #summ { line-height: 28px; }
            .stars, #sum_stars { background: url(/images/stars.png); }
            .stars, #sum_stars, .progress, #sum_progress {
                width: 130px;
                height: 28px;
                cursor: pointer;
            }
        </style>

        <div id="rateBlock" th:each="review : ${business.businessReviews}">
            <p th:text="${review.buddy.firstName} + ${' '} + ${review.buddy.lastName}">Author</p>
            <p><a th:href="@{/buddy/{id}(id=${review.buddy.buddyId})}"><img th:src="@{${review.buddy.avatarImg}}" alt="Buddy image" width="130" height="180"></a></p>
            <th>
            <p th:text="${review.reviewTitle}"> Review_title</p><br>
                <p th:text="${review.reviewBusiness}"> Review</p><br>
            <div id="rating_pr">
                <span th:text="${review.rateB1}"> Rate_B1</span>

            <!--            <p th:text="${review.reviewB}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque ipsum nec mauris dapibus gravida. Nam felis est, ornare sit amet auctor in, malesuada sit amet massa. Pellentesque eget efficitur lorem. Nunc lobortis erat a orci blandit, et consequat diam molestie. Etiam id tempor felis, sit amet egestas sem. Suspendisse potenti. Morbi tristique tincidunt leo in ornare. Aenean sodales leo id dapibus posuere.</p>-->
        </div><br>
        </div><br>
    </article><br>
</section>
</body>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script>
        $(document).ready(function (event) {
            $("#editBtn").on('click', function (event) {
                $(".businessForm").show();
            });
            $(document).on('btnSubmit', function (e) {
                e.preventDefault();
                const xhr = new XMLHttpRequest();
                xhr.open('POST', document.forms.businessForm.action);
                xhr.responseType = 'json';
                xhr.onload = () => {
                    if (xhr.readyState === 4 && xhr.status !== 200) {
                        return;
                    }
                    const response = xhr.response;
                    document.querySelector('#result').innerHTML = `<li>Имя: <b>${response.busName}</b></li><li>Расположение: <b>${response.location}</b><li>Ссылка: <b>${response.businessLink}</b></li>`;
                }
                let formData = new FormData(document.forms.businessForm);

                xhr.send(formData);
                document.querySelector('#result').textContent = '...';
                return false;
            });
        });
    </script>
</html>