<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--      th:fragment="main-fragment (title, otherStaticResources, header, SideMenu, mainContent, footer)">-->
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <title>Business Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/main.css}" href="../../../static/main.css"/>
    <title>Business Page</title>

</head>
<header>
    <h2>Business page</h2>

</header>
<body>
<section>
    <SideMenu id="SideMenu">
        <li>Home</li>
        <li><a th:href="@{/feed}">Feed</a></li>
        <li><a th:href="@{/notifications}">Notifications</a></li>
        <li><span style=vertical-align:bottom><a th:href="@{/logout}">Log out</a> </span></li>
    </SideMenu>
    <article>

        <div class="Business_block" th:name="business" th:id="business">
            <div th:fragment="business">
                <h1 th:text="${business.busName}"> Business_NAME </h1>
                <p th:text="${business.location}">Location</p>
                <p th:text="${business.businessLink}">Link</p>
                <p th:text="${Distance}">2 km away</p>
                <input type="submit" value="Редактировать" id="editBtn"/>
            </div>

<!--            <iframe id="iframe1" name="iframe1" style="position: absolute; left: -9999px;"></iframe>-->
        <form hidden name="businessEd" method="POST" th:object="${business}" class="businessForm">
            <input readonly id="id" type="number" name="id" th:value="${business.businessId}"/><br/><br/>
            <input id="name" type="text" name="busName" th:value="${business.busName}" placeholder="Имя" /><br/><br/>
            <input id="location" type="text" name="location" th:value="${business.location}" placeholder="Расположение" /><br/><br/>
            <input id="link" type="text" name="businessLink" th:value="${business.businessLink}" placeholder="Ссылка"/><br/><br/>
            <input type="submit" value="Сохранить" id="btnSubmit"/>
        </form>



<!--                <p id="link" th:text="${business.businessLink}" th:data-link="business.businessLink">link</p>-->
<!--                <a href='${business.businessLink}' class="btn">Переход по ссылке</a>-->
<!--                <div onclick="javascript:location.href='${business.businessLink}';">Переход по ссылке</div>-->
<!--                <p align="right"> <button id="linkButton">Book a table</button></p>-->
<!--            <script>-->
<!--                $("#linkButton").on('click', function (event) {-->
<!--                    $.ajax({-->
<!--                        type: 'GET', // method attribute of form-->
<!--                        url: '/link'-->
<!--                    });-->
<!--                });-->
<!--            </script>-->
<!--                <link action="http://italyco.rest/hitch-medikov" target="_blank">-->
<!--                    <link rel="shortcut icon" href="http://italyco.rest/hitch-medikov">-->
<!--                    <button>Переход по ссылке</button>-->

                <div class="tabs">
                    <input type="radio" name="inset" value="" id="tab_3" checked>
                    <label for="tab_3">Rating</label>

                    <input type="radio" name="inset" value="" id="tab_4">
                    <label for="tab_4">Menu</label><br>

                    <div id="rating">
                        <div th:each="b : ${business.businessReviews}">
                            <span th:text="${b.rateB1}"> Rate_B1</span>
                        </div>


<!--                <div id = "menu">-->
<!--                    <table th:each="product : ${business.products}" width="100%" border="0" cellpadding="4">-->
<!--                        <tr align="right" valign="top">-->
<!--                            <th th:text="${product.productName}">Product_NAME</th>-->
<!--                            <td th:text="${product['productCategory']['categoryName']}">Category_NAME</td>-->
<!--                            <td>Суммарный рейтинг продукта</td>-->
<!--                        </tr>-->
<!--                    </table>-->
<!--            </div>-->


                    <div id = "menu">
                        <table th:each="product : ${business.products}" width="100%" border="0" cellpadding="4">
                            <tr align="right" valign="top">
                                <div>
                                <th th:text="${product.productName}">Product_NAME</th>
                                <td th:text="${product['productCategory']['categoryName']}">Category_NAME</td>
                                <td th:text="${'blabla'}">Суммарный рейтинг продукта</td>
                                </div>
                            </tr>
                        </table>
                        <td><a th:href="@{{id}/product-create(id=${business.businessId})}">Add new product</a></td>
<!--                        <button><a th:href="@{business/{businessId}/product-create}">Add new product</a></button>-->
                    </div>
                </div>
            </div>
            </div>
        </div><br>

        <div id = "rating_add"><form id="addReviewForm" class="form-control"  th:action="@{/business/{id}/add-review(id=${business.businessId})}" method="post" th:object="${businessReview}">
            Review title:<br>
            <!--            <input id="reviewTitle" placeholder="Enter Review Title" required type="text" name="reviewTitle" th:value="*{reviewTitle}">-->
            <br>
            <div><label for="reviewTitle"><input class="reviewTitlePr" id = "reviewTitle" type="text" th:value="${reviewTitle}" name="reviewTitle"/> </label></div>
            Review:<br>
            <div><label for="reviewProduct"><textarea class="reviewProductPr" id = "reviewProduct" th:value="${reviewBusiness}" name="reviewProduct"></textarea> </label></div>
            <input type="range" min="0" max="5" step="1" value="1" th:value = "${rateB1}">

            <input name="Add review" id="submitButton" type="submit" value="add-review">
        </form></div>

        <div id="rateBlock" th:each="review : ${business.businessReviews}">
            <p th:text="${review.buddy.firstName} + ${' '} + ${review.buddy.lastName}">Author</p>
            <th><a th:href="@{/buddy/{id}(id=${review.buddy.buddyId})}"><img src="layouts/img/product.png" width="30"
                                                                             height="50" alt="Buddy image"></a></th>
            <p th:text="${review.reviewTitle}"> Review_title</p><br>
            <div id="rating_pr">
                <span th:text="${review.rateB1}"> Rate_B1</span>
            <p id="reviewer_img"><img src="*{'data:image/png;base64, '+image}" alt="reviewer_img"></p><br>

            <!--            <p th:text="${review.reviewB}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque ipsum nec mauris dapibus gravida. Nam felis est, ornare sit amet auctor in, malesuada sit amet massa. Pellentesque eget efficitur lorem. Nunc lobortis erat a orci blandit, et consequat diam molestie. Etiam id tempor felis, sit amet egestas sem. Suspendisse potenti. Morbi tristique tincidunt leo in ornare. Aenean sodales leo id dapibus posuere.</p>-->
        </div><br>
        </div><br>
    </article><br>
</section>
</body>
<footer>
    <p>All right reserved and belong to almighty Cthulhu</p>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script>
        $(document).ready(function (event) {
            $("#editBtn").on('click', function (event) {
                $(".businessForm").show();
            });
            $(document).on('btnSubmit', function (e) {
                e.preventDefault();
                const xhr = new XMLHttpRequest();
                xhr.open('POST', document.forms.businessForm.action);
                xhr.responseType = 'json';
                xhr.onload = () => {
                    if (xhr.readyState === 4 && xhr.status !== 200) {
                        return;
                    }
                    const response = xhr.response;
                    document.querySelector('#result').innerHTML = `<li>Имя: <b>${response.busName}</b></li><li>Расположение: <b>${response.location}</b><li>Ссылка: <b>${response.businessLink}</b></li>`;
                }
                let formData = new FormData(document.forms.businessForm);

                xhr.send(formData);
                document.querySelector('#result').textContent = '...';
                return false;
            });
            // при отправке формы
            // document.forms.businessForm.addEventListener('btnSubmit', (e) => {
            //     e.preventDefault();
            //     // var fr = document.getElementById('iframe1');
            //     // var fw = (fr.contentWindow || fr.contentDocument);
            //     // if ( !!!fw.document) fw = fw.defaultView;
            //     // sendForm();
            // });
        });
    </script>
<!--    <script>-->
<!--        $(document).ready(function () {-->
<!--            $("#editBtn").on('click', function () {-->
<!--                $(".businessForm").show();-->
<!--                let form;-->
<!--                let action;-->

<!--                function findElements() {-->
<!--                    form = document.querySelector('form');-->
<!--                    ({action} = form);-->
<!--                }-->

<!--                function showMessage(data) {-->
<!--                    alert(data.message);-->
<!--                }-->

<!--                function onSuccess(response) {-->
<!--                    return response.json().then(showMessage);-->
<!--                }-->

<!--                function onError(data) {-->
<!--                    console.error(data);-->
<!--                }-->

<!--                function collectData(currentForm) {-->
<!--                    const data = new FormData(currentForm);-->
<!--                    return data;-->
<!--                }-->

<!--                function setOptions(currentForm) {-->
<!--                    return {-->
<!--                        method: 'post',-->
<!--                        body: collectData(currentForm),-->
<!--                    };-->
<!--                }-->

<!--                function sendForm(currentForm) {-->
<!--                    return fetch(action, setOptions(currentForm));-->
<!--                }-->

<!--                function onSubmit(event) {-->
<!--                    event.preventDefault();-->
<!--                    const {currentTarget} = event;-->
<!--                    sendForm(currentTarget)-->
<!--                        .then(response => onSuccess(response, currentTarget))-->
<!--                        .catch(onError);-->
<!--                }-->

<!--                function subscribe() {-->
<!--                    form.addEventListener('btnSubmit', onSubmit);-->
<!--                }-->

<!--                function init() {-->
<!--                    findElements();-->
<!--                    subscribe();-->
<!--                }-->

<!--                init();-->
<!--            });-->
<!--        });-->
<!--    </script>-->
</footer>
</html>