<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--      th:fragment="main-fragment (title, otherStaticResources, header, SideMenu, mainContent, footer)">-->
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/profileForm.js}"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/main.css}" href="../../../static/main.css"/>
    <title>Find friends</title>
</head>
<header>
    <h2>Find friends</h2>

</header>
<body>
<section>
<SideMenu id="SideMenu">
    <li><a th:id="home" th:href="@{/buddy/{id}(id=${homeId})}">Home</a></li>
    <li><a th:href="@{/feed}">Feed</a></li>
    <li><a>Find friends</a></li>
    <li><span style=vertical-align:bottom><a th:href="@{/logout}">Log out</a> </span></li>
</SideMenu>
<article>
    <div id="num_block">
        <h1 hidden id="buddIdHo" th:text = "${homeId}"
            th:data-home="${homeId}"> id </h1>
    </div>

    <div id="product_block">
        <h1 hidden id="role" th:text = "${user.role.id}"
            th:data-role="${user.role.id}"> role </h1>

<div id="Buddy_block" th:each = "buddy : ${buddies}">
    <p th:text="${buddy.firstName}"> Имя </p>
    <p th:text="${buddy.lastName}"> Фамилия </p>
    <p th:text="${buddy.age}"> Возраст </p>
    <p th:text="${buddy.city}"> Город </p>

    <p><a th:href="@{/buddy/{id}(id=${buddy.buddyId})}"><img th:src="@{${buddy.avatarImg}}" alt="Buddy image" width="150" height="180"></a></p>
    <p hidden th:text="${buddy.buddyId}" >Id </p>
    <p th:each = "b : ${buddy.friends}" th:text="${b.buddyId}"></p>

    <form name="buddyAdd" th:object="${user}" method="POST" >
        <div><label  hidden for="idF"><input class="buddyIdAdd" id = "idF" type="text" th:value="${buddy.buddyId}" name="idF"/> </label></div>
        <input type="submit" value="Добавить в Друзья" id="friendAdd"/>
    </form>

</div><br>
</article>
    <br>
</section>
</body>
<footer>
    <p>All right reserved and belong to almighty Cthulhu</p>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</html>