<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--      th:fragment="main-fragment (title, otherStaticResources, header, SideMenu, mainContent, footer)">-->
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="star_rating.js"></script>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <title>Product Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/main.css}" href="../../../static/main.css"/>
    <title>Product Page</title>

</head>
<header>
    <h2>Booze buddy</h2>

</header>
<body>
<section>
    <SideMenu id="SideMenu">
        <li><a th:href="@{/buddy}">Home</a></li>
        <li><a th:href="@{/feed}">Feed</a></li>
        <li><a th:href="@{/notifications}">Notifications</a></li>
        <li><span style=vertical-align:bottom><a th:href="@{/logout}">Log out</a> </span></li>
    </SideMenu>
    <article>
        <div id="product_block">
            <div th:fragment="product">
                <p id="product_img" ><img src="layouts/img/product.png" alt="Product image"></p>
                <h1 th:text="${product.productName}"> Product_NAME </h1>
                <p th:text="${product['productCategory']['categoryName']}">Category_NAME</p>
                <div class="tabs">
                    <input type="radio" name="inset" value="" id="tab_1" checked>
                    <label for="tab_1">Rating</label>

                    <input type="radio" name="inset" value="" id="tab_2">
                    <label for="tab_2">Suggestions</label><br>

                    <div id="rating">
                        <div th:each="p : ${product.productReviews}">
                        <span th:text="${p.rateP1}"> Rate_P1</span> <span th:text="${p.rateP2}"> Rate_P2</span><br>
                        <span th:text="${p.rateP3}"> Rate_P3</span> <span th:text="${p.rateP4}"> Rate_P4</span></div>
                    </div>
                    <div id="suggestions" th:each="s : ${product.productCategory.suggestions}">
                        <span th:text="${s.foodName} + ${', '} + ${s.foodImg}"></span>
                    </div>
                    <br>
                </div>


            </div>
        </div><br>
        <div id="rateBlock" th:each="review : ${product.productReviews}">
            <p th:text="${review.buddy.firstName} + ${' '} + ${review.buddy.lastName}">Author</p>
            <p th:text="${review.buddy.avatarImg}">Img</p>
            <th><a th:href="@{/buddy/{id}(id=${review.buddy.buddyId})}"><img src="layouts/img/product.png" width="30"
                                                                            height="50" alt="Buddy image"></a></th>
            <p th:text="${review.reviewProduct}"> Review_title</p><br>
            <div id="rating_pr">
                <span th:text="${review.rateP1}"> Rate_P1</span> <span th:text="${review.rateP2}"> Rate_P2</span><br>
                <span th:text="${review.rateP3}"> Rate_P3</span> <span th:text="${review.rateP4}"> Rate_P4</span></div>
            <p id="reviewer_img"><img src="*{'data:image/png;base64, '+image}" alt="reviewer_img"></p><br>

            <!--    <p th:text="${review.reviewProduct}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque ipsum nec mauris dapibus gravida. Nam felis est, ornare sit amet auctor in, malesuada sit amet massa. Pellentesque eget efficitur lorem. Nunc lobortis erat a orci blandit, et consequat diam molestie. Etiam id tempor felis, sit amet egestas sem. Suspendisse potenti. Morbi tristique tincidunt leo in ornare. Aenean sodales leo id dapibus posuere.</p>-->
        </div><br>
        <div id="business_block">
            <p align="center" id="business_img"><img src="*{'data:image/png;base64, '+image}" alt="business_img"></p><br>
            <div>
<!--                <p align="right"> <button onclick ="window.location.href='@{/{link}(link=${bR.businessLink})}';">Book a table</button></p>-->
                <!--        <p th:text="${busName} + ${', '} ${location}">Business_NAME, Business_TYPE</p>-->
                <div th:each = "bR : ${product.businesses}" ><p th:text="${bR.busName} + ${', '} + ${bR.location}">Business_NAME, Business_LocationE<p>
                    <p align="right"> <button onclick ="window.location.href='{{link}(link=${bR.businessLink})}';">Book a table</button></p>
                <th><a th:href="@{/business/{id}(id=${bR.businessId})}"><img src="layouts/img/product.png" width="30"
                                                                                 height="50" alt="Business image"></a></th>
                <p th:text="${Distance}">2 km away</p>
            </div>
            </div>
        </div><br>
    </article><br>
</section>
<style type="text/css">
    .param, .rating_new, #summ { line-height: 28px; }
    .stars, #sum_stars { background: url(../../../static/images/stars.png); }
    .stars, #sum_stars, .progress, #sum_progress {
        width: 130px;
        height: 28px;
        cursor: pointer;
    }
</style>
<div id="rating_new">
    <div class="param">Параметр 1:</div>
    <div><div class="stars"></div><p class="progress" id="p1"></p></div>
    <div class="rating_new" id="param1">5.0</div>

    <div class="param">Параметр 2:</div>
    <div><div class="stars"></div><p class="progress" id="p2"></p></div>
    <div class="rating_new" id="param2">5.0</div>

    <div class="param">Параметр 3:</div>
    <div><div class="stars"></div><p class="progress" id="p3"></p></div>
    <div class="rating_new" id="param3">5.0</div>


    <div class="param">Общая оценка:</div>
    <div><div id="sum_stars"></div><p id="sum_progress"></p></div>
    <div id="summ">5.00</div>

    <input id="el_999" type="submit" value="Submit">
    <p id="message"></p>
</div>
</body>
<footer>
    <p>All right reserved and belong to almighty Cthulhu</p>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

</footer>
</html>