<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <title th:replace="${title}">Product Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/main.css}" href="../../../static/main.css"/>
</head>
<header th:insert="${header}">
    <h2>Booze buddy</h2>

</header>
<body>
<section>
    <SideMenu id="SideMenu">
        <li><a href="@{/}">Home</a></li>
        <li><a href="@{/feed}">Feed</a></li>
        <li><a href="@{/buddies}">Buddies</a></li>
        <li><a href="@{/notifications}">Notifications</a></li>
        <li><a href="@{/settings}">Settings</a></li>
        <li><span style=vertical-align:bottom><a href="@{/}">Log out</a> </span></li>
    </SideMenu>
<article>
    <div id="product_block">
        <div th:fragment="product">
            <h1 th:text="${Product_NAME}"> Product_NAME </h1>
            <p th:text="${Cat_NAME}">Cat_NAME</p>

            <div><div id="rating">
                <span th:text="${Rate_P1}"> Rate_P1</span> <span th:text="${Rate_P2}"> Rate_P2</span><br>
                <span th:text="${Rate_P3}"> Rate_P3</span> <span th:text="${Rate_P4}"> Rate_P4</span></div>
                <br>
                <p id="product_img" ><img src="layouts/img/product.png" alt="Product image"></p>
            </div>
        </div>
    </div><br>
<div id="rateBlock" th:each="productReview : ${productReviews}">
    <p th:text="${productReview.reviewTitle}"> Review_title</p><br>
    <div id="rating_pr">
        <span th:text="${productReview.rateP1}"> Rate_P1</span> <span th:text="${productReview.rateP2}"> Rate_P2</span><br>
        <span th:text="${productReview.rateP3}"> Rate_P3</span> <span th:text="${productReview.rateP4}"> Rate_P4</span></div>
    <p id="reviewer_img"><img src="*{'data:image/png;base64, '+image}" alt="reviewer_img"></p><br>

    <p th:text="${productReview.reviewProduct}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque ipsum nec mauris dapibus gravida. Nam felis est, ornare sit amet auctor in, malesuada sit amet massa. Pellentesque eget efficitur lorem. Nunc lobortis erat a orci blandit, et consequat diam molestie. Etiam id tempor felis, sit amet egestas sem. Suspendisse potenti. Morbi tristique tincidunt leo in ornare. Aenean sodales leo id dapibus posuere.</p>
</div><br>
<div id="business_block">
    <p align="center" id="business_img"><img src="*{'data:image/png;base64, '+image}" alt="business_img"></p><br>
    <div>
        <p align="right"> <button id="booking" th:href="@{/business-list.html}">Book a table</button></p>
        <p th:text="${Business_NAME}, ${Business_TYPE}">Business_NAME, Business_TYPE</p>
        <p th:text="${Distance}">2 km away</p>
    </div>
</div><br>
</article><br>
</section>
</body>
<footer th:insert="${footer}">
    <p>All right reserved and belong to almighty Cthulhu</p>
</footer>
</html>