<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--      th:fragment="main-fragment (title, otherStaticResources, header, SideMenu, mainContent, footer)">-->
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/profileForm.js}"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/main.css}" href="../../../static/main.css"/>
    <title>Business Menu</title>
</head>
<header>
    <h2>Business Menu</h2>

</header>
<body>
<section>
    <SideMenu id="SideMenu">
        <li><a th:id="home" th:href="@{/buddy/{id}(id=${homeId})}">Home</a></li>
        <li><a th:href="@{/feed}">Feed</a></li>
        <li><a th:href="@{/friend}">Find friends</a></li>
        <li><span style=vertical-align:bottom><a th:href="@{/logout}">Log out</a> </span></li>
    </SideMenu>
    <article>
        <div id="num_block">
            <h1 hidden id="buddIdHo" th:text = "${homeId}"
                th:data-home="${homeId}"> id </h1>
        </div>
        <div id="Business_block">
            <div th:fragment="business">
                <h1 th:text="${business.busName}"> Business_NAME </h1>
                <p th:text="${business.location}">Location</p>
                <p th:text="${Distance}">2 km away</p>
            </div>
        </div>
        <br>
        <div>
            <form action="#" th:action="@{/business/{id}/product-create}" th:object="${product}" method="post">
                <div class="business-control" th:name = "business" th:id="business">
                <label for="businessId">Business Id</label>
                <input readonly th:object="${business}" th:field="${business.businessId}" id="businessId"
                       placeholder="Business Id"
                th:data-business="business.businessId">
                </div>
                <label for="productName">Product name</label>
                <input type="text" th:field="*{productName}" id="productName" placeholder="Product Name">
                <input type="text" th:field="*{productImg}" id="productImg" placeholder="Product Img">
                <select class="form-control" th:name="category" th:id="category">
                    <option value="">--Please choose an option--</option>
                    <option th:each="productCategory : ${productCategories}" th:value="${productCategory}"
                            th:text="${productCategory.categoryName}"
                            th:data-id="${productCategory.categoryId}">
                    </option>
                </select>
                <input type="submit" value="Create Product">
                <input type="hidden" th:field="*{productCategory.categoryId}" class="form-control" id="categoryId"
                       placeholder="categoryId">
            </form>
        </div>
        <div id="product_block" th:each="product : ${business.products}">
            <h1 hidden id="role" th:text = "${user.role.id}"
                th:data-role="${user.role.id}"> role </h1>
            <div th:fragment="product">
                <th><a th:href="@{/product/{id}(id=${product.productId})}">
                    <img th:src="@{${product.productImg}}" alt="Product image" width="130" height="180"></a></th>
                <h1 th:text="${product.productName}"> Product_NAME </h1>
                <p th:text="${product['productCategory']['categoryName']}">Category_NAME</p>
                <form name="productForm" th:action="@{/product-delete}" th:object="${product}" method="POST" >
                    <div><label for="productId"><input class="productIdPr" id = "productId" type="hidden" th:value="${product.productId}" name="productId"/> </label></div>
                    <input type="submit" value="Delete" id="btnAdd"/>
                </form>
            </div>
        </div>
        <br>
    </article>
    <br>
</section>
</body>
<footer>
    <p>All right reserved and belong to almighty Cthulhu</p>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#category").change(function () {
            $("#categoryId").val($("#category option:selected").attr("data-id"));
        });
        $("#business").change(function () {
            $("#businessId").val($("#business").attr("data-business"));
        });
    });
</script>
</html>
