<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<!--      th:fragment="main-fragment (title, otherStaticResources, header, SideMenu, mainContent, footer)">-->
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/profileForm.js}"></script>
    <script type="text/javascript" th:src="@{/js/star_rating.js}"></script>
    <script type="text/javascript" th:src="@{/js/showReview.js}"></script>
    <script type="text/javascript" th:src="@{/js/menuHandler.js}"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/main.css}" href="../../../static/main.css"/>
    <title>Product Page</title>

</head>
<header>

    <a id="menuBtn" onclick="openMenu()"><img th:src="@{/images/BoozeBuddyMin.svg}">
    <h2>Grab your Booze</h2></a>

</header>
<body>
<div id="main">
<section>

    <article>
        <SideMenu id="SideMenu" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a th:id="home" th:href="@{/buddy/{id}(id=${homeId})}">Home</a>
            <a th:href="@{/feed}">Feed</a>
            <a th:href="@{/friend}">Find friends</a>
            <a th:href="@{/logout}">Log out</a>
        </SideMenu>
        <div id="num_block">
            <h1 hidden id="buddIdHo" th:text = "${homeId}"
                th:data-home="${homeId}"> id </h1>
        </div>

        <div id="product_block">
            <div th:fragment="product">
                <h1 hidden id="role" th:text = "${user.role.id}"
                    th:data-role="${user.role.id}"> role </h1>
                <h1 th:text="${product.productName}"> Product_NAME </h1>
                <p><img th:src="@{${product.productImg}}" alt="Buddy image" width="130" height="180"></p>
                <p th:text="${product['productCategory']['categoryName']}">Category_NAME</p>
                <div class="tabs">
                    <input type="radio" name="inset" value="" id="tab_1" checked>
                    <label for="tab_1">Rating</label>

                    <input type="radio" name="inset" value="" id="tab_2">
                    <label for="tab_2">Suggestions</label><br>

                    <div id="rating">
                        <span th:text="${product.prRating}"> Rate_P1</span>
                        <p th:text="${count}">Count Authors</p>
                    </div>

                    <div id="suggestions" th:each="s : ${product.productCategory.suggestions}">
                        <span th:text="${s.foodName} + ${', '} + ${s.foodImg}"></span>
                    </div>
                    <br>
                </div>
            </div>
        </div><br>

        <div id = "rating_add"><form id="addReviewForm" class="form-control" method="post" th:object="${productReview}">

            <p>Review title:</p><div><label for="reviewTitle"><input class="reviewTitlePr" id = "reviewTitle" type="text" th:value="${reviewTitle}" name="reviewTitle"/> </label></div>
            <p>Review:</p> <div><label for="reviewProduct"><textarea class="reviewProductPr" id = "reviewProduct" th:value="${reviewProduct}" name="reviewProduct"></textarea> </label></div>
            <div><label for="rateP1"><input id="rateP1" type="hidden" th:value="${rateP1}" name="rateP1" value=""></label></div>
            <div id="rating_new">
                <div class="param" th:text="${product.productCategory.firstAtt} + ${' :'}">Param 1:</div>
                <div><div class="stars"></div><p class="progress" id="p1"></p></div>
                <div class="rating_new" id="param1">5.0</div>
                <div class="param" th:text="${product.productCategory.secondAtt} + ${' :'}">Param 2:</div>
                <div><div class="stars"></div><p class="progress" id="p2"></p></div>
                <div class="rating_new" id="param2">5.0</div>
                <div class="param" th:text="${product.productCategory.thirdAtt} + ${' :'}">Param 3:</div>
                <div><div class="stars"></div><p class="progress" id="p3"></p></div>
                <div class="rating_new" id="param3">5.0</div>
                <div class="param">Overall score :</div>
                <div><div id="sum_stars"></div><p id="sum_progress"></p></div>
                <div id="summ">5.00</div>
                <input name="Add review" id="submitButton" type="submit" value="add-review">
            </div>
        </form></div>

        <div id="rateBlock" th:each="review : ${product.productReviews}">
            <p th:text="${review.buddy.firstName} + ${' '} + ${review.buddy.lastName}">Author</p>
            <p><a th:href="@{/buddy/{id}(id=${review.buddy.buddyId})}"><img th:src="@{${review.buddy.avatarImg}}" alt="Buddy image" width="150" height="180"></a></p>
            <p th:text="${review.reviewProduct}"> Review_title</p><br>
            <div id="rating_pr">
                <span th:text="${review.rateP1}"> Rate_P1</span>

            </div></div><br>
        <div id="business_block">
                <div th:each = "bR : ${product.businesses}" ><p th:text="${bR.busName} + ${', '} + ${bR.location}">Business_NAME, Business_LocationE<p>
                    <p align="right"> <button onclick ="window.location.href='{{link}(link=${bR.businessLink})}';">Book a table</button></p>
                    <p><a th:href="@{/business/{id}(id=${bR.businessId})}"><img th:src="@{${bR.busImg}}" alt="Buddy image" width="900" height="600"></a></p>
                <p th:text="${Distance}">2 km away</p>
            </div>
        </div>

    </article><br>
</section>
<style type="text/css">
    .param, #rating_new, #summ { line-height: 28px; }
    .stars, #sum_stars { background: url(/images/stars.png); }
    .stars, #sum_stars, .progress, #sum_progress {
        width: 130px;
        height: 28px;
        cursor: pointer;
    }
</style>
</div>
</body>
<footer>
    <p>All right reserved and belong to almighty Cthulhu</p>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

</footer>
</html>