<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{/main.css}" href="../../../static/main.css"/>
    <title>Product List</title>
</head>
<header>
  <h2>Booze buddy</h2>

</header>
<body>
<section>
<SideMenu id="SideMenu">
  <li><a href="@{/}">Home</a></li>
  <li><a href="@{/feed}">Feed</a></li>
  <li><a href="@{/buddies}">Buddies</a></li>
  <li><a href="@{/notifications}">Notifications</a></li>
  <li><a href="@{/settings}">Settings</a></li>
  <li><span style=vertical-align:bottom><a href="@{/}">Log out</a> </span></li>
</SideMenu>
<article>
  <div id="product_block" th:each = "product : ${products}">

      <h1 th:text="${product.productName}"> productName </h1>
<!--      <p th:text="${product.categoryId}">categoryId</p>-->
      <p th:each = "b : ${product.productCategory}" th:text="${b.categoryName}"></p>

      <div><div id="rating">

        <span th:text="${rateP1}"> Rate_P1</span> <span th:text="${rateP2}"> Rate_P2</span><br>
        <span th:text="${rateP3}"> Rate_P3</span> <span th:text="${rateP4}"> Rate_P4</span></div>
        <br>
        <p id="product_img"><img src="*{'data:image/png;base64, '+image}" alt="product_img"></p>
      </div>

  </div><br>
  </article><br>
    </section>
</body>
<footer>
  <p>All right reserved and belong to almighty Cthulhu</p>
</footer>
</html>