<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<link rel="stylesheet" type="text/css" th:href="@{/page.css}" href="../../../static/page.css"/>
<head>
    <title>Spring Security Example </title>
</head>
<body>
<div class="vladmaxi-top">
    <a href="http://vladmaxi.net" target="_blank"></a>
    <span class="right">
        </span>
    <div class="clr"></div>
</div>
<div id="login">
<fieldset class="clearfix">
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<!--<h3>Add new user</h3>-->
<div th:switch="${message}">
    <p th:case="0">${message}</p>
    <p th:case="*"></p>
</div>
</fieldset>
<form class="form-profile" th:action="@{/registration}" method="post" th:name="profile" th:id="profile" >
    <div><label> Login : <input class="fontawesome-user" type="text" name="username"/> </label></div>
    <div><label> Password: <input class="fontawesome-lock" type="password" name="password"/> </label></div>
    <br>
    <INPUT class="fontawesome-user" name="Roleee" type="radio" id="Choice1" value="USER">
    Buddy
    <br>
    <INPUT class="fontawesome-user" name="Roleee" type="radio" id="Choice2" value="BUSINESS">
    Business
    <br>
    <div><input type="submit" value="Sign in">
<!--    <input type="hidden" th:field="${buddy.buddyId}" id="buddyId" th:data-buddy="${buddy.buddyId}"></div>-->
    </div>
</form>
</div>
</body>
</html>