<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Библиотека jQuery</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
        const select = document.querySelector('#select');

        for (let i = 1; i <= 100; i++) {
            const option = document.createElement('option');

            option.textContent = option.value = String (i);
            select.append(option);
        }
    </script>
</head>
<body>
<select id="select"></select>
</body>

</html>